<template>
  <div class="wrapper">
    <div class="wrapper-content">
      <section>
        <div class="container">

          <message v-if="message" :message="message"/>

          <newNote :note="note" :priorities="priorities" @addNote="addNote"/>

          <div class="note-header">
            <h1>{{ title }}</h1>

          <search :value="search" placeholder="Find" @search="search = $event"/>

            <div class="icons">
              <svg :class="{ active: grid }" @click="grid = true" style="cursor: pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
              <svg :class="{ active: !grid }" @click="grid = false" style="cursor: pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>

            </div>
          </div>

          <notes :grid="grid" :notes="notesFilter" @remove="removeNote"/>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
  import message from '@/components/Message.vue'
  import newNote from '@/components/NewNote.vue'
  import notes from '@/components/Notes.vue'
  import search from '@/components/Search.vue'
  export default {
    components: {
      message, newNote, notes, search
    },
    data () {
      return {
        title: 'Notes App',
        message: null,
        grid: true,
        search: '',
        note: {
          title: '',
          descr: '',
          priority: 'standard'
        },
        notes: [
          {
            title: 'First note',
            descr: 'Description for the first note',
            date: new Date(Date.now()).toLocaleString(),
            priority: 'standard'
          },
          {
            title: 'Second note',
            descr: 'Description for the second note',
            date: new Date(Date.now()).toLocaleString(),
            priority: 'important'
          },
          {
            title: 'Third note',
            descr: 'Description for the third note',
            date: new Date(Date.now()).toLocaleString(),
            priority: 'veryImportant'
          }
        ],
        priorities: [
          {
            title: 'Standard',
            value: 'standard'
          },
          {
            title: 'Important',
            value: 'important'
          },
          {
            title: 'Very important',
            value: 'veryImportant'
          }
        ]
      }
    },
    computed: {
      notesFilter() {
        let array = this.notes,
            search = this.search
        if(!search) return array
        search = search.trim().toLowerCase()
        array = array.filter(function (item) {
          if(item.title.toLowerCase().indexOf(search) !== -1) {
            return item
          }
        })
        return array
      }
    },
    methods: {
      addNote () {
        let {title, descr, priority} = this.note

        if(title === '') {
          this.message = 'this title cant be blank!'
          return false
        }
        this.notes.push({
          title,
          descr,
          date: new Date(Date.now()).toLocaleString(),
          priority
        })

        this.message = null
        this.note.descr = ''
        this.note.title = ''
        this.note.priority = 'standard'

      },
      removeNote (index) {
        this.notes.splice(index, 1)
      }
    }
  }
</script>

<style lang="scss">
  h1 {
    font-weight: bold;
    padding-left: 30px;
  }
</style>
