<template>
  <div class="wrapper">
    <header>
      <div class="navbar">
        <div class="container">
          <div class="navbar-content">
            <div class="logo">Notes App</div>
            <ul class="navbar-list">
              <li class="navbar-item" v-for="link in linksList" :key="link.title">
                <router-link :to="link.url" :title="link.title" class="navbar-link">{{ link.title }}</router-link>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </header>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        linksList: null
      }
    },
    created() {
      this.linksList = this.$store.getters.getLinksList
    },
  }
</script>

<style lang="scss">
  .navbar-link {
    &.router-link-exact-active {
      color: #5247e7;
    }
  }
</style>