<template>
    <div class="wrapper-content wrapper-content--fixed">
        <message v-if="message" :message="message"/>
        <newNote :note="note" :priorities="priorities" @addNote="addNote"/>
    </div>
</template>

<script>
    import newNote from '@/components/NewNote.vue'
    import message from '@/components/Message.vue'

    export default {
        components: {
            newNote, message
        },
        data () {
            return {
                message: null,
                note: {
                    title: '',
                    descr: '',
                    priority: 'standard',
                    noteList: null
                },
                priorities: [
                    {
                        title: 'Standard',
                        value: 'standard'
                    },
                    {
                        title: 'Important',
                        value: 'important'
                    },
                    {
                        title: 'Very important',
                        value: 'veryImportant'
                    }
                ]
            }
        },
        created() {
            this.noteList = this.$store.getters.getNotesList
        },
        computed: {

        },
        methods: {
            addNote () {
                let {title, descr, priority} = this.note

                if(title === '') {
                    this.message = 'this title cant be blank!'
                    return false
                }

                this.$store.dispatch('addNote', {
                    id: this.noteList.length + 1,
                    title,
                    descr,
                    date: new Date(Date.now()).toLocaleString(),
                    priority
                })

                this.message = null
                this.note.descr = ''
                this.note.title = ''
                this.note.priority = 'standard'

                this.$router.push("/")

            },
        }
    }
</script>

<style lang="scss" scoped>

</style>