<template>
    <div class="wrapper-content wrapper-content--fixed">
            <div class="note-header">
                <search :value="search" placeholder="Find" @search="search = $event"/>

                <div class="icons">
                    <svg :class="{ active: grid }" @click="grid = true" style="cursor: pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
                    <svg :class="{ active: !grid }" @click="grid = false" style="cursor: pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>

                </div>
            </div>

        <notes :grid="grid" :noteFilterList="notesFilter"/>
    </div>
</template>

<script>
    import notes from '@/components/Notes.vue'
    import search from '@/components/Search.vue'
    export default {
        components: {
            notes, search
        },
        data () {
            return {
                title: 'Home',
                grid: true,
                search: '',
                noteList: null
            }
        },
        created() {
            this.noteList = this.$store.getters.getNotesList
        },
        computed: {
            notesFilter() {
                let array = this.noteList,
                    search = this.search
                if(!search) return array
                search = search.trim().toLowerCase()
                array = array.filter(function (item) {
                    if(item.title.toLowerCase().indexOf(search) !== -1) {
                        return item
                    }
                })
                return array
            }
        },
        methods: {

        }
    }
</script>

<style lang="scss" scoped>
    h1 {
        font-weight: bold;
        padding-left: 30px;
    }

    .wrapper__search {
        margin: 0 auto;
    }
</style>