<template>
    <div class="wrapper-content wrapper-content--fixed">
        <section>
            <div class="container">
                <div :class="['product__wrapper', note.priority]" >
                    <div class="product__content">
                        <span class="date">{{ note.date }}</span>
                        <h1 class="title">{{ note.title }}</h1>
                        <p>{{ note.descr }}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                note: null
            }
        },
        created() {
            let id = this.$route.params.id
            this.note = this.$store.getters.getNote(id)

            /*if(this.note === undefined) this.$router.push("/404")*/
        }
    }
</script>

<style lang="scss">
    .product__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product__wrapper {
        &.standart {
            background: #fff;
        }
        &.important {
            background: #fffc92;
        }
        &.veryImportant {
            background: #ff9b9b;
        }
    }

    .product__slider,
    .product__content {
        text-align: center;
        max-width: 48%;
    }

    .VueCarousel-inner {
        visibility: visible!important;
        flex-basis: 100%!important;
        width: 100%!important;
    }
</style>