<template>
    <modal
            title="First modal"
            @close="close"
    >
        <div slot="body">
            <p> text tex bla bla bla bla</p>
            <button
                    class="btn btnPrimary"
                    @click="$emit('close')"
            >well done!</button>
        </div>
    </modal>
</template>

<script>
    import modal from '@/components/UI/Modal.vue'
    export default {
        components: { modal },
        data() {
            return {
                name: '',
                email: ''
            }
        },
        methods: {
            close() {
                this.$emit('close')
            }
        }
    }
</script>

<style lang="scss">

</style>