<template>
    <modal
        title="Registration"
        @close="clear"
    >
        <div slot="body">
            <form @submit.prevent="onSubmit">
                <div class="form-item" :class="{ errorInput: $v.email.$error }">
                    <label>Email:</label>
                    <p class="errorText" v-if="!$v.email.required"> Filed is required</p>
                    <p class="errorText" v-if="!$v.email.email"> Email is not corrected! </p>
                    <input
                            v-model="email"
                            :class="{ error: $v.email.$error }"
                            @change="$v.email.$touch()">
                </div>
                <div class="form-item" :class="{ errorInput: $v.password.$error }">
                    <label>Password: <span :class="'pass-switch ' + passFieldType" @click="passSwitch"></span></label>
                    <p class="errorText" v-if="!$v.password.required"> Filed is required</p>
                    <p class="errorText" v-if="!$v.password.minLength"> Password must have at least {{ $v.password.$params.minLength.min }}! </p>
                    <input :type="passFieldType"
                            v-model="password"
                           :class="{ error: $v.password.$error }"
                           @change="$v.password.$touch()" />
                </div>
                <div class="form-item" :class="{ errorInput: $v.repeatPassword.$error }">
                    <label>Repeat password: <span :class="'pass-switch ' + passFieldType" @click="passSwitch"></span></label>
                    <p class="errorText" v-if="!$v.repeatPassword.sameAsPassword">Passwords must be identical.</p>
                    <input :type="passFieldType"
                            v-model="repeatPassword"
                           :class="{ error: $v.repeatPassword.$error }"
                           @change="$v.repeatPassword.$touch()"/>
                </div>
                <button class="btn btnPrimary">register</button>
                <div class="form-switch">
                    <a @click.prevent="regSwitch" href="#">I already have an account</a>
                </div>
            </form>

        </div>
    </modal>
</template>

<script>
    import { required, minLength,sameAs, email } from 'vuelidate/lib/validators'
    import modal from '@/components/UI/Modal.vue'
    export default {
        components: { modal },
        data() {
            return {
                email: '',
                password: '',
                repeatPassword: '',
                passFieldType: 'password'
            }
        },
        validations: {
            email: {
                required,
                email
            },
            password: {
                required,
                minLength:minLength(6)
            },
            repeatPassword: {
                sameAsPassword: sameAs('password')
            }
        },
        methods: {
            onSubmit() {
                this.$v.$touch()
                if(!this.$v.$invalid) {
                    const user = {
                        email: this.email,
                        password: this.password
                    }
                    console.log(user)
                    this.clear()
                }
            },
            clear() {
                this.email = ''
                this.password = ''
                this.repeatPassword = ''
                this.$v.$reset()
                this.$emit('close')
            },
            passSwitch() {
                this.passFieldType = this.passFieldType === 'password' ? 'text' : 'password'
            },
            regSwitch() {
                this.clear()
                this.$emit('show')
            }
        }
    }
</script>

<style lang="scss">

</style>