<template>
    <modal
            title="Modal with form"
            @close="clear"
    >
        <div slot="body">
            <form @submit.prevent="submitSecondForm">
                <label>Name:</label>
                <input required type="text" v-model="name">
                <label>Email:</label>
                <input required type="email" v-model="email">
                <button class="btn btnPrimary">submit</button>
            </form>

        </div>
    </modal>
</template>

<script>
    import modal from '@/components/UI/Modal.vue'
    export default {
        components: { modal },
        data() {
            return {
                name: '',
                email: ''
            }
        },
        methods: {
            submitSecondForm(event) {
                console.log({
                    name: this.name,
                    email: this.email,
                });
                this.clear(event)
                event.target.reset();
            },
            clear() {
                this.name = ''
                this.email = ''
                this.$emit('close')
            }
        }
    }
</script>

<style lang="scss">
    input:required{
        box-shadow: none;
    }
</style>