<template>
    <div class="message">
        <p>{{ message }}</p>
    </div>
</template>

<script>
    export default {
        name: "Message",
        props: {
            message: {
                type: String,
                required: true,
                default: 'default message'
            }
        }
    }
</script>

<style scoped>

</style>