<template>
    <div class="new-note">
        <label>Title</label>
        <input type="text" v-model="note.title">
        <label>Priority</label>
        <div class="priority">
            <label v-for="(priority) in priorities">
                <input
                    v-model="note.priority"
                    type="radio"
                    name="priority"
                    :value="priority.value"/>{{ priority.title }}
            </label>
        </div>

        <label>Description</label>
        <textarea v-model="note.descr"></textarea>
        <button class="btn btnPrimary" @click="addNote">Add new note</button>
    </div>
</template>

<script>
    export default {
        name: "NewNote",
        props: {
            note: {
                type: Object,
                required: true
            },
            priorities: {
                type: Array,
                required: true
            },
        },
        methods: {
            addNote() {
                this.$emit('addNote', this.note)
            }
        }
    }
</script>

<style lang="scss">
    .new-note {
        text-align: center;
        padding: 0 30px;
    }

    .btn.btnPrimary {
        margin: 30px 0;
    }

    .priority {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0;

        label {
            cursor: pointer;
            width: 15%;
            background: #fff;
            padding: 15px 0;
            border-radius: 14px;
            border: 1px solid #DCDFE6;
        }
    }
</style>