<template>
    <div class="notes">
        <div class="note"
             :class="[note.priority, { full: !grid }]"
             v-for="note in (noteFilterList !== undefined ? noteFilterList : noteList)"
             :key="note.id">
            <div class="note-header"
                 @dblclick="editTitle(note)"
                 :class="{ full: !grid }">
                <router-link :to="/notes/ + note.id"
                    :class="{hidden: edit[note.id]}">{{ note.title }}</router-link>
                <input
                    type="text"
                    @keyup.esc="cancelNote(note.id)"
                    @keyup.enter="editNote(note)"
                    :class="{hidden: !edit[note.id]}"
                    ref="title"
                    v-model="note.title" />
                <p style="cursor: pointer;" @click="removeNote(note.id)">X</p>
            </div>
            <div class="note-body">
                <p
                    :class="{hidden: edit[note.id]}"
                    @dblclick="editDescr(note)">{{ note.descr }}</p>
                <input
                    type="text"
                    @keyup.esc="cancelNote(note.id)"
                    @keyup.enter="editNote(note)"
                    :class="{hidden: !edit[note.id]}"
                    ref="descr"
                    v-model="note.descr" />
                <span>{{ note.date }}</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Notes",
        data () {
            return {
                oldTitle: "",
                oldDescr: "",
                oldDate: "",
                oldPriority: "",
                edit: [],
                noteList: null,
                note: {}
            }
        },
        created() {
            this.noteList = this.$store.getters.getNotesList
        },
        props: {
            grid: {
                type: Boolean,
                required: true
            },
            noteFilterList: {
                type: Array,
                required: true
            }
        },

        methods: {
            removeNote (id) {
                let store = this.$store
                this.noteList.forEach(function(item, i) {
                    if(item.id === id && item !== undefined) {
                        store.dispatch('deleteNote', i)
                    }
                });
            },
            editTitle (note) {
                this.editNote(note)
                this.edit[note.id] = true
            },
            editDescr (note) {
                this.editNote(note)
                this.edit[note.id] = true
            },
            editNote (note) {

                this.oldTitle = note.title
                this.oldDescr = note.descr
                this.oldDate = note.date
                this.oldPriority = note.priority
                note.date = new Date(Date.now()).toLocaleString()
                this.saveNote(note)

                this.edit = []
            },
            cancelNote (id) {
                this.edit = []
                let note = {
                    id,
                    title: this.oldTitle,
                    descr: this.oldDescr,
                    date: this.oldDate,
                    priority: this.oldPriority,
                }
                this.saveNote(note)
            },
            saveNote (note) {
                this.edit = []

                let store = this.$store
                this.noteList.forEach(function(item, i) {
                    if(item.id === note.id && item !== undefined) {
                        store.dispatch('editNote', {i, note})
                    }
                });
            }
        }
    }
</script>

<style lang="scss">
    .notes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px 0;
    }

    .note {
        width: 48%;
        padding: 18px 20px;
        margin-bottom: 20px;
        background-color: #fff;
        transition: all .25s cubic-bezier(.02,.01,.47,1);
        box-shadow: 0 30px 30px rgba(0,0,0,.02);
        &:hover {
            box-shadow: 0 30px 30px rgba(0,0,0,.04);
            transform: translate(0,-6px);
            transition-delay: 0s !important;
        }
        &.full {
            width: 100%;
            text-align: center;
        }
        &.standart {
            background: #fff;
        }
        &.important {
            background: #fffc92;
        }
        &.veryImportant {
            background: #ff9b9b;
        }
    }

    .note-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            color: #0000fe;
            font-size: 22px;
        }
        svg {
            margin-right: 12px;
            color: #999;

            &.active {
                color: #0000fe;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &.full {
            justify-content: center;
            p {
                margin-right: 16px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        input {
            width: auto;
            display: inline-block;
            &.hidden {
                display: none;
            }
        }
    }

    .note-body {
        p {
            margin: 20px;
        }

        span {
            font-size: 14px;
            color: #999999;
        }
    }

    .hidden {
        display: none;
    }

</style>