<template>
    <div class="notes">
        <div class="note"
             :class="[note.priority, { full: !grid }]"
             v-for="(note, index) in notes" :key="index">
            <div class="note-header"
                 @dblclick="editTitle(index, note)"
                 :class="{ full: !grid }">
                <p
                    :class="{hidden: edit[index]}">{{ note.title }}</p>
                <input
                    type="text"
                    @keyup.esc="cancelNote(index)"
                    @keyup.enter="saveNote(index)"
                    :class="{hidden: !edit[index]}"
                    ref="title"
                    v-model="note.title" />
                <p style="cursor: pointer;" @click="removeNote(index)">X</p>
            </div>
            <div class="note-body">
                <p
                    :class="{hidden: edit[index]}"
                    @dblclick="editDescr(index, note)">{{ note.descr }}</p>
                <input
                    type="text"
                    @keyup.esc="cancelNote(index)"
                    @keyup.enter="saveNote(index)"
                    :class="{hidden: !edit[index]}"
                    ref="descr"
                    v-model="note.descr" />
                <span>{{ note.date }}</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Notes",
        data () {
            return {
                oldTitle: "",
                oldDescr: "",
                edit: [],
            }
        },
        props: {
            notes: {
                type: Array,
                required: true
            },
            grid: {
                type: Boolean,
                required: true
            }
        },

        methods: {
            removeNote (index) {
                this.$emit('remove', index)
            },
            editTitle (index, note) {
                this.editNote(index, note);
                this.$nextTick(() => {
                    this.$refs.title[index].focus()
                });
            },
            editDescr (index, note) {
                this.editNote(index, note);
                this.$nextTick(() => {
                    this.$refs.descr[index].focus()
                });
            },
            editNote (index, note) {
                this.oldTitle = note.title
                this.oldDescr = note.descr
                this.edit = []
                this.edit[index] = true
            },
            cancelNote (index) {
                this.edit = []
                this.notes[index].title = this.oldTitle
                this.notes[index].descr = this.oldDescr
            },
            saveNote (index) {
                this.edit = []
                this.notes[index].date = new Date(Date.now()).toLocaleString()
            }
        }
    }
</script>

<style lang="scss">
    .notes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px 0;
    }

    .note {
        width: 48%;
        padding: 18px 20px;
        margin-bottom: 20px;
        background-color: #fff;
        transition: all .25s cubic-bezier(.02,.01,.47,1);
        box-shadow: 0 30px 30px rgba(0,0,0,.02);
        &:hover {
            box-shadow: 0 30px 30px rgba(0,0,0,.04);
            transform: translate(0,-6px);
            transition-delay: 0s !important;
        }
        &.full {
            width: 100%;
            text-align: center;
        }
        &.standart {
            background: #fff;
        }
        &.important {
            background: #fffc92;
        }
        &.veryImportant {
            background: #ff9b9b;
        }
    }

    .note-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            color: #0000fe;
            font-size: 22px;
        }
        svg {
            margin-right: 12px;
            color: #999;

            &.active {
                color: #0000fe;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &.full {
            justify-content: center;
            p {
                margin-right: 16px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        input {
            width: auto;
            display: inline-block;
            &.hidden {
                display: none;
            }
        }
    }

    .note-body {
        p {
            margin: 20px;
        }

        span {
            font-size: 14px;
            color: #999999;
        }
    }

    .hidden {
        display: none;
    }

</style>